* {
    box-sizing: border-box;
}
:root {
    --primary: lightgray;
    --secondary: blue;
}

/* table {
    background-color: var(--secondary);
} */
table {
    border-spacing: 0;
}
tbody tr:nth-child(even) {
    background: var(--primary);
}
tbody tr:nth-child(odd) {
    background: #fff;
}
thead tr {
    background: var(--secondary);
    color: #fff;
}
